<header>
    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
</header>

<div class="taskbar">
  <div class="logo">
    <a href="#">
        <img id="imageLogo" src="assets/images/QuestBridge-Logo.png">
    </a>
    <h3 class="titleText">QuestChat</h3>
  </div>
  <div id="groupButton">
    <div class="divButton">
        <button class="myButton" mat-button color="primary" (click)="createConnection()" [disabled]="connect">Connect</button>
    </div>
    <div class="divButton">
        <button class="myButton" mat-button color="primary" (click)="stopConnection()" [disabled]="disconnect">Disconnect</button>
    </div>
    <div class="divButton">
        <button class="myButton" mat-button color="primary">Next Questies</button>
    </div>
  </div>
</div>

<div class="showMessage" *ngFor="let message of myMessage">
    {{message}}
</div>

<footer class="footer">
    <div>
        <mat-form-field id="messageInput">
            <input matInput color="primary" placeholder="Enter the message" [(ngModel)]="textMessage">
          </mat-form-field>
        <button id="sendButton" mat-stroked-button color="primary" (click)="sendMessage()">Send</button>
    </div>
</footer>